<div class="wrapper">
	<div class="page-header section-dark" style="background-image: url('./assets/img/sections/pk-pro-cover.jpg')">
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
					<div class="angular-logo">
							<img src="./assets/img/superate-logo-short.png" alt="Supérate">
					</div>
					<h1 class="presentation-title">Supérate</h1>
					<div class="type">México</div>
					<div class="fog-low">
						<img src="./assets/img/sections/fog-low.png" alt="">
					</div>
					<div class="fog-low right">
						<img src="./assets/img/sections/fog-low.png" alt="">
					</div>
				</div>

				<h2 class="presentation-subtitle text-center">Transformando la educación con tecnología, ese es el punto</h2>
			</div>
		</div>
		<h6 class="category category-absolute">Diseñado por
			<a href="https://aclsystems.mx" target="_blank">
				<img src="./assets/img/acl_blanco.png" class="creative-tim-logo" width="36px" height="auto">&nbsp;&nbsp;<span>ACL Systems</span>
			</a>
		</h6>
	</div>
	<div class="section section-components section-dark">
		<div class="row">
			<div class="col">
				<div class="container basic-container">
					<h3>
						Supérate México
					</h3>
					<h5 class="description">
						 Es la unión de Académicos, Pedagogos, Tecnólogos, Empresas, Colegios, Universidades y Asociaciones dedicadas a aplicar diversos recursos con el fin de capacitar a profesores, profesionistas, estudiantes y  población en general  que tengan el deseo y la necesidad de prepararse mediante una modalidad en  línea  a un bajo costo. Contamos con la experiencia de capacitación presencial y en línea de más de 14 años mediante programas de responsabilidad social en Alianza con Microsoft mediante su <b>Programa Alianza por la Educación</b> con las siguientes iniciativas:
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-4 ">
					 <div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-book-bookmark"></i>
						</div>
						<div class="description">
							<h4 class="info-title"> Conalep Virtual </h4>
							<p>(<a href="https://conalepvirtual.superatemexico.com">conalepvirtual.superatemexico.com</a>)<br />Se ha capacitado a más de 25 mil docentes, directivos, alumnos y usuarios del sector productivo de sus planteles a nivel nacional en más de 20 temas sobre docencia generando proyectos educativos aterrizados en sus planteles educativos, así como preparar a adultos mayores de 21 años para la presentación del Examen único CENEVAL (Acreditabach 286) para obtener su certificado de Educación Media Superior.</p>
						</div>
					 </div>
				</div>

				<div class="col-md-4">
					 <div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-world-2"></i>
						</div>
						<div class="description">
							<h4 class="info-title"> Educando Contigo </h4>
							<p>(<a href="http://www.educandocontigo.com">www.educandocontigo.com</a>)<br /> Mediante esta modalidad en línea y con la colaboración de Microsoft México se han capacitado desde el 2006 más de 250 mil docentes en México con la finalidad de mejorar los procesos de enseñanza aprendizaje en los estudiantes a través de uso de las TIC (Tecnologías de la Información y las Comunicaciones). Se entregaron mas de 600 mil bibliotecas digitales a docentes en temas de TIC´s, integración de tecnología en la educación y software educativo</p>
						</div>
					 </div>
				</div>

				<div class="col-md-4">
					 <div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-hat-3"></i>
						</div>
						<div class="description">
							<h4 class="info-title"> Educando con Media Superior </h4>
							<p>(<a href="http://www.educandoconmx.com">www.educandoconms.com</a>)<br /> Desde el 2009 se han capacitado más de de 50 mil docentes y más de 500 mil alumnos superando 1.5 millones de exámenes de Acreditación aplicados en Microsoft Office para alumnos de educación media superior.</p>
						</div>
					 </div>
				</div>
			</div>
			</div>
		</div>
		<div class="section section-content section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col">
								<h3>Licenciatura en Derecho</h3>
								<p>RVOE: 20170911</p>
								<p>Modalidad en línea</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Licenciatura en Administración y Dirección</h3>
								<p>RVOE: 20170910</p>
								<p>Modalidad en línea</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Licenciatura en Ingeniería en Sistemas Computacionales</h3>
								<p>RVOE: 20170912</p>
								<p>Modalidad en línea</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="section-description">
							<h3 class="title">Supérate México Licenciaturas</h3>
							<h6 class="category">Estudia a tu ritmo y en donde sea</h6>
							<h5 class="description">Supérate México cuenta con una oferta de  licenciaturas en línea, mediante becas de descuento en alianza con Grupo CETEC.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
<footer class="footer footer-black">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				<ul>
					<li><a href="https://aclsystems.mx">ACL Systems</a></li>
					<li><a href="https://cetec.superatemexico.com">Grupo CETEC</a></li>
					<li><a href="https://conalepvirtual.superatemexico.com">Conalep Virtual</a></li>
				</ul>
			</nav>
			<div class="credits ml-auto">
				<span class="copyright">
					© {{date | date: 'yyyy'}},  ACL Systems S.A de C.V.
				</span>
			</div>
		</div>
	</div>
</footer>
